body {
    background-color: rgb(225, 229, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.header h1 {
    display: block;
    max-width: 100%;
    padding: 40px;
    left: 0;
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    color: white;
    background-image: linear-gradient(to top right, rgb(109, 165, 207), rgb(180, 79, 79));
}

.help, i {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: rgb(110, 110, 110);
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.container {
    display: block;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.849);
    width: 30%;
    height: 600px;
    margin: auto;
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
    border-radius: 15px;
    line-height: 30px;
}

legend {
    font-family: 'Staatliches', cursive;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10px;
    
}

input, select {
    border-radius: 8px;
}

.input1 {
    margin-left: 25px;
}

#f1 {
    position: static;
    max-width: 250px;
    margin-right: 30%;
    margin-left: 30%;
    padding: 0px;
    display: block;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: left;
}

#f1 label {
    font-weight: normal;
}

textarea {
    display: block;
    margin: auto;
    border-radius: 10px;
}

#legend2 {
    padding-left: 15px;
    padding-right: 15px;
}

#checky {
    padding: 10px;
    line-height: 25px;
    display: block;
    text-align: center;
}

.requ {
    display: inline;
    color: red;
}

img {
    display: block;
    margin: auto;
    border-radius: 100%;
}

img:hover {
    transform: scale(20);
    transition-delay: 0.2s;
    transition-duration: 3s;
}


.helpForm {
    font-size: 1rem;
    text-align: center;
    line-height: 25px;
}